.about-service{
    color: white;
    position: relative;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: 18px;
    height: 50vh;
    border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.658) 0px 7px 29px 0px;
    padding: 50px;
}

/* mobile View */
@media(max-width: 450px){
    .about-service{
        flex-direction: column;
        padding: 50px 20px;
        height: fit-content;
        font-size: 15px;
    }
    .about-service img{
        width: 300px;
    }
}