@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
/* hero */
.home-hero{
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.32),rgba(0, 0, 0, 0.329)),url('https://cdn.pixabay.com/photo/2024/04/08/19/54/coffee-8684315_1280.jpg'); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.466),rgba(0, 0, 0, 0.329)),url('../assets/hero.png'); */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url("../assets/tea_back4.png"); */
    background-position: center;
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* font-family: "Protest Guerrilla"; */
}
.home-overlay{
    background: linear-gradient(rgba(0, 0, 0, 0.164),rgba(0, 0, 0, 0.219));
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -10;
}
.back-vid{
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: -15;
}
.home-hero-boxf2{
    background-color: rgba(255, 255, 255, 0.219);
    backdrop-filter: blur(10px);
    padding: 20px 30px;
    border-radius: 10px;
    margin-left: 15%;
    width: 30%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 18px;
}
.home-hero-boxf2 h1{
    font-size: 40px;
}
.home-hero-box{
    width: 30%;
    height: 300px;
    /* margin-left: 50%; */
    background-color: rgba(0, 0, 0, 0.84);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* backdrop-filter: blur(10px); */
    padding: 20px;
    border-radius: 20px;
}
.home-hero-box button{
    width: 50%;
}
.hero-button{
    padding: 10px;
    background-color: rgb(234, 0, 0);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.home-hero-box h1{
    color: rgb(240, 136, 62);
}
.home-hero-box p{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 700;
}
.home-hero-boxf{
    font-size: 70px;
    font-weight: 700;
    color: white;
    font-family:"Bonheur Royale",'Times New Roman', Times, serif;
        /* font-family: 'Times New Roman', Times, serif; */
    width: 50%;
}

/* product */
.product-hero{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("../assets/g3.jpg");
    background-position: 0px 930px;
    background-size: cover;
}
.home-products-cont{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.54),rgba(255, 255, 255, 0.24)),url("../assets/tea_back.png"); */
    /* background-position: center; */
    /* background-size: cover; */
    height: 120vh;
    /* background-color:rgb(240, 247, 244); */
    background-color: rgb(249,250,251);
    display: flex;flex-direction: column;justify-content: space-around;align-items: center;
}
.home-products{
    /* color: white; */
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
    /* height: fit-content; */
    justify-content: space-around;
    gap: 50px;

}
.home-prod-cont{
    /* display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    width: 80%; */
    display: flex;flex-direction: column;
    gap: 50px;
    
}
.home-prod-cont-tea{
    width: 100%;
    height: 40vh;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    gap: 50px;
}
.home-prod-cont-drinks{
    width: 100%;
    height: 40vh;
    /* background-color: black; */
    display: flex;flex-direction: row-reverse;
    justify-content: center;
    gap: 50px;
}
.home-prod-tea{
    width: 60%;
    position: relative;
    display: flex;flex-direction: column;
    align-items: center;
    gap: 10px;
}
.home-prod-tea p{
    cursor: pointer;
}
.home-prod-tea p:hover{
    gap: 10px;
}
.home-prod-tea-cards{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    /* overflow: hidden; */
}
.home-prod-tea-title{
    width: 40%;
    display: flex;
    justify-content: center;align-items: center;
}
/* .home-prod-tea-title p{
    font-size: 50px;
    font-weight: 600;
} */
.home-prod-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px 5px;
    color: rgb(101, 101, 101);
}
.home-prod-img{
    height: 220px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.hero-span{
    font-size: "210px";
    top: 100px;
}

/* testimonials */
.testimonials_cont{
    color: black;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.testimonials_cont h1{
    margin-top: 40px;
}
.inside_testimonial_cont{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.testimonial_card{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 90%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.testimonial_p{
    color: rgb(111, 111, 111);
    display: flex;
    align-items: center;
    gap: 10px;
}


/* Mobile view */
@media(max-width: 450px){
    .home-hero{
        flex-direction: column;
        height: 90vh;
    }
    .home-hero h1{
        font-size: 100px;
    }
    .home-hero-box{
        width: 80%;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.313);
        height: 40vh;
        margin-bottom: 10px;
    }
    .home-hero-box p{
        font-size: 20px;
    }
    .home-hero-boxf{
        width: 100%;
        align-self: center;
        /* margin-left: 10px; */
        
    }
    .home-hero-boxf h1{
        font-size: 80px;
        margin-left: 10px;
        font-family:"Bonheur Royale",'Times New Roman', Times, serif;
    }
    .home-hero-boxf span{
        font-family:"Bonheur Royale",'Times New Roman', Times, serif;
    }
    .home-hero-boxf2{
        width: 80%;
        padding: 5px 1px 5px 20px;
        margin-left: 10px;
        margin-top: 30%;
    }
    .home-hero-boxf2 h1{
        font-size: 20px;
    }
    .home-hero-boxf2 p{
        font-size: 15px;
    }
    .hero-span{
        top: 50px;
    }


    .home-products-cont{
        height: 250vh;
        /* justify-content: space-between; */
        gap: 100px;
        position: relative;
    }
    .home-products{
        height: 100%;
        justify-content: flex-start;
        gap: 80px;
    }
    .home-prod-cont{
        margin-top: 30px;
        gap: 150px;
        width: 100%;
        height: 150vh;
        font-size: 12px;
    }
    .home-prod-card img{
        width: 180px;
    }
    .product-hero{
        background-position: 0 1920px;
    }
    .home-prod-tea{
        align-items: center;
    }
    .home-prod-cont-tea{
        height: 100vh;
        margin-top: 10px;
        flex-direction: column;
        align-items: center;    
    }
    .home-prod-tea-title img{
        width:120%;
    }
    .inside_testimonial_cont{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .testimonial_card{
        width: 80%;
    }
}